.result {
  background-color: #262B42;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3px;
  border-top: 5px solid transparent;
  margin-bottom: 30px;
}
.result-header {
  display: flex;
  flex-direction: row;
}
.result-title {
  background-color: #445060;
  padding: 0px 15px;
  letter-spacing: 5px;
  color: #ffffff;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  line-height: 2rem;

  span {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #93A3C0;
    margin-left: -7px;
  }
}
.result-porcentage {
  background-color: $error;
  padding: 0px 13px 0px 15px;
  margin: 0 0 10px 0;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 4px;
  box-sizing: border-box;
  line-height: 2rem;
}
.result-fuente {
  margin: 0 0 0 10px;

  strong {
    color: $info;
  }

  a {
    color: $info;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.result-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.candidate {
  max-width: 180px;
  width: 100%;
}
.candidate-photo {
  width: 100%;
  height: 200px;
  background-repeat: none;
  background-size: cover;
  margin-bottom: 3px;
}
.candidate-name {
  text-align: center;
  background: #ffffff;
  padding: 5px 8px;
  color: #232427;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 3px;
}
.candidate-porcentage {
  text-align: center;
  padding: 6px 12px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 900;

  span {
    font-size: 1.4rem;
    color: #93A3C0;
  }
}

@media screen and (max-width: 768px) {
  .candidate {
    max-width: 150px;
  }
  .candidate-photo {
    height: 170px;
  }
  .result-header {
    flex-wrap: wrap;
  }
  .result-title {
    width: 50%;
    margin: 0;
    font-size: 1.4rem;
  }
  .result-porcentage {
    width: 50%;
    margin: 0;
  }
  .result-fuente {
    width: 100%;
    padding: 7px 10px 10px 10px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .result-body {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .candidate {
    max-width: 140px;
    width: 50%;
  }
  .candidate-photo {
    height: 130px;
  }
  .candidate-name {
    font-size: 1.1rem;
  }
  .candidate-porcentage {
    font-size: 1.4rem;
    margin-bottom: 10px;

    span {
      font-size: 1.1rem;
    }
  }
  .result-title {
    width: 100%;
    margin-bottom: 5px;
  }
  .result-porcentage {
    width: 100%;
  }
}